---

- include: mariadb-centos.yml
  when: ansible_distribution == 'CentOS' and ansible_distribution_major_version|int >= 6

- include: mariadb-ubuntu.yml
  when: ansible_distribution == 'Ubuntu' and ansible_distribution_version >= '14.04'

- name: Add configuration
  template:
    src={{ mariadb_conf_file }}
    dest={{ mysql_conf_dir[ansible_distribution] }}/{{ mysql_conf_file }}
    owner=root
    group=root
    mode=0644
  when: mariadb_conf_tpl != 'change_me'
  notify: restart mariadb

- name: Start and enable service
  service: name=mysql state=started enabled=yes