---
- name: Add repo file
  template: src=mariadb_ubuntu.list.j2 dest=/etc/apt/sources.list.d/mariadb.list owner=root group=root mode=0644
  register: mariadb_list

- name: Add repo key
  apt_key: id=1BB943DB url=http://keyserver.ubuntu.com/pks/lookup?op=get&search=0xCBCB082A1BB943DB state=present
  register: mariadb_key

- name: Update apt cache
  apt: update_cache=yes
  when: mariadb_list.changed == True or mariadb_key.changed == True

- name: Unattended package installation
  shell: export DEBIAN_FRONTEND=noninteractive
  changed_when: false

  # a bit unstable sometimes returns 404
- name: Add apt-key
  apt_key: id=F1656F24C74CD1D8 state=present keyserver=ha.pool.sks-keyservers.net
  retries: 3
  delay: 10
  tags:
    - key

- name: Install MariaDB
  apt: pkg={{ item }} state=present allow_unauthenticated=yes
  with_items:
    - mariadb-server
    - mariadb-client
  tags:
    - pkg

- name: Install MySQLdb Python package for secure installations.
  apt: pkg=python-mysqldb state=present
  when: secure_installation and mysql_root_password is defined
